<article class="sixth-content">
  <div class="sixth-content__info">
    <h3 class="subtitle">
      CARACTERÍSTICAS <br />
      <span class="txt-gra-primary subtitle">EXCLUSIVAS</span>
    </h3>
    <img src="./assets/icons/arrow.svg" alt="Arrow" />
    <p>
      ¡Descubre el poder de Actus ELENA y haz que tu empresa sea líder en
      eficiencia y sostenibilidad!
    </p>
  </div>
  <app-card-carousel
    class="sixth-content-carousel"
    [isclickable]="true"
    [cards]="cards"
    (clickEvent)="onSelectCard($event)"
  />
  <app-seventh-content [currentCard]="currentCard" />
</article>
