<article class="second-content">
  <ngb-carousel
    class="second-content__carousel"
    [pauseOnHover]="true"
    [showNavigationIndicators]="false"
  >
    @for(image of images; track $index){
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper text-center">
        <img [src]="image" alt="Image {{ $index }}" />
      </div>
    </ng-template>
    }
  </ngb-carousel>
  <div class="second-content__imgweb row gap-4">
    @for(image of images; track $index){
    <div class="col picsum-img-wrapper">
      <img [src]="image" alt="Image {{ $index }}" />
    </div>
    }
  </div>
  <p>
    Empresas de primer nivel de sectores como Alimentos, Hotelería, Agrícolas,
    Ganaderas, Maquinaria y Manufactura confían en nosotros.
  </p>
</article>
