@use "../../../styles/mixins" as *;

.second-content {
  max-width: 1140px;
  margin: 0 auto;

  &__carousel {
    @include screen(small) {
      display: none !important;
    }
  }

  &__imgweb {
    @include screen(custom, max, 768) {
      display: none;
    }
  }

  .picsum-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;

    > img {
      max-width: 300px;
    }
  }

  p {
    max-width: 860px;
    margin: 1.5rem auto;

    @include screen(small) {
      font-size: 1.5rem;
    }
  }
}
