@use "../../../styles/mixins" as *;

.seventh-content {
  margin-top: 6rem;
  justify-content: center;
  gap: 1.5rem;

  > div {
    min-width: 300px;

    @include screen(small) {
      max-width: 380px;
      min-width: 380px;
    }
  }

  img {
    width: 41px;
    height: 41px;
    margin-bottom: 1rem;
  }
}

.txt-sm {
  font-weight: 700;
  font-size: 1.5rem;
}
