<article class="seventh-content row">
  @if(currentCard.title === 'AGRO'){
  <div class="text-center col">
    <img src="./assets/icons/water.svg" alt="water" />
    <p class="txt-sm">Gestión eficiente del agua</p>
    <p>
      Monitoriza en tiempo real el consumo de agua, ofreciéndote visibilidad
      completa de los patrones de uso para optimizar y reducir costos.
    </p>
  </div>
  <div class="text-center col">
    <img src="./assets/icons/quality.svg" alt="quality" />
    <p class="txt-sm">Calidad del agua</p>
    <p>
      Garantiza que tu producción cumpla con los estándares de calidad,
      manteniendo la salud y seguridad de los usuarios.
    </p>
  </div>
  } @if(currentCard.title === 'MANUFACTURA'){
  <div class="text-center col">
    <img src="./assets/icons/check.svg" alt="check" />
    <p class="txt-sm">Eficiencia del sistema</p>
    <p>
      crea estrategias de eficiencia con certeza sobre tu consumo de agua frente
      a tu producción, gracias a información en tiempo real sobre el
      funcionamiento de tu sistema.
    </p>
  </div>
  <div class="text-center col">
    <img src="./assets/icons/config.svg" alt="config" />
    <p class="txt-sm">Mantenimiento oportuno</p>
    <p>
      Detecta problemas a tiempo y proporciona alertas anticipadas para el
      mantenimiento necesario, asegurando la máxima eficiencia y durabilidad de
      tu sistema de agua.
    </p>
  </div>
  } @if(currentCard.title === 'AGRO'){
  <div class="text-center col">
    <img src="./assets/icons/check.svg" alt="check" />
    <p class="txt-sm">Vigilancia Inteligente:</p>
    <p>
      ¿Quién se queda vigilando tu cuarto frío cuando no estás? Actus ELENA
      actúa como tu nuevo centinela 24/7, alertando ante cualquier problema y
      asegurando la integridad de tus productos.
    </p>
  </div>
  } @if(currentCard.title === 'HOTELERÍA'){
  <div class="text-center col">
    <img src="./assets/icons/monitor.svg" alt="monitor" />
    <p class="txt-sm">Integración Total Monitoreo</p>
    <p>
      Conecta nuestra plataforma de monitoreo fácilmente con tu infraestructura
      existente. Te ayudará a presentar la información de manera óptima y
      amigable para tomar decisiones ágiles, con información confiable, que
      generen valor para tu negocio.
    </p>
  </div>
  }
  <div class="text-center col">
    <img src="./assets/icons/star.svg" alt="star" />
    <p class="txt-sm">Innovación Constante</p>
    <p>
      Mantente a la vanguardia con nuestras actualizaciones regulares y
      tecnologías avanzadas.
    </p>
  </div>
  <div class="text-center col">
    <img src="./assets/icons/good.svg" alt="good" />
    <p class="txt-sm">Asesoramiento Personalizado</p>
    <p>
      No sólo ofrecemos una plataforma, sino también un equipo de expertos
      listos para guiarte en cada paso.
    </p>
  </div>
</article>
<div class="text-center mt-5">
  <a href="#form" class="btn btn-primary">DESCUBRE MÁS BENEFICIOS</a>
</div>
