<div class="header d-flex align-items-center gap-4 justify-content-between">
  <figure class="header__logo">
    <img src="./assets/images/logo.webp" alt="Logo" />
  </figure>
  <div ngbDropdown placement="bottom-end" container="body">
    <button type="button" class="header__menu btn" ngbDropdownToggle>
      <img src="./assets/icons/menu.svg" alt="Menu" />
    </button>
    <div ngbDropdownMenu aria-labelledby="Menu">
      <button ngbDropdownItem>Únetenos</button>
      <button ngbDropdownItem>Beneficios</button>
      <button ngbDropdownItem>Sobre nosotros</button>
      <button ngbDropdownItem>Contáctanos</button>
    </div>
  </div>
</div>
