<article class="fifth-content">
  <div class="fifth-content__info-content">
    <div class="fifth-content__info">
      <span>50%</span>
      <p>En ahorros en sistemas de compresores industriales</p>
    </div>
    <hr class="hr-primary" />
    <div class="fifth-content__info">
      <span>+127 mil</span>
      <p>kWh reducidos en consumo de energía eléctrica</p>
    </div>
    <hr class="hr-primary" />
    <div class="fifth-content__info">
      <span>12.6%</span>
      <p>Disminución de pérdidas en tiendas de conveniencia</p>
    </div>
    <hr class="hr-primary" />
    <div class="fifth-content__info">
      <span>$280 mil</span>
      <p>Ahorro anual por menor mantenimiento y energía.</p>
    </div>
  </div>
  <div class="fifth-content__video">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/gO0XZZ3R_tM?si=dbB9VzvM2cSVPPah"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <div id="features"></div>
</article>
