<article class="fifth-content">
  <div class="fifth-content__info-content">
    <div class="fifth-content__info">
      <span>50%</span>
      <p>En ahorros en sistemas de compresores industriales</p>
    </div>
    <hr class="hr-primary" />
    <div class="fifth-content__info">
      <span>+127 mil</span>
      <p>kWh reducidos en consumo de energía eléctrica</p>
    </div>
    <hr class="hr-primary" />
    <div class="fifth-content__info">
      <span>12.6%</span>
      <p>Disminución de pérdidas en tiendas de conveniencia</p>
    </div>
    <hr class="hr-primary" />
    <div class="fifth-content__info">
      <span>$280 mil</span>
      <p>Ahorro anual por menor mantenimiento y energía.</p>
    </div>
  </div>
  <div class="fifth-content__video">
    <span class="subtitle">CONOCE NUESTRA PLATAFORMA</span>
    <p>Explora innovación y eficiencia a tu Alcance</p>
    <button type="button" class="btn fifth-content__btnvideo">
      <img src="./assets/icons/btnvideo.webp" alt="Video" />
    </button>
    <video src="https://www.youtube.com/watch?v=gO0XZZ3R_tM&t=52s"></video>
  </div>
</article>
