@use "../../../styles/mixins" as *;

.fifth-content {
  margin-bottom: 6rem;

  &__info-content {
    margin: 2rem 0 8rem;
    display: flex;
    flex-direction: column;

    @include screen(med-small) {
      gap: 1.5rem;
      flex-direction: row;

      > hr {
        width: 1px;
        height: 120px;
        background-image: linear-gradient(
          to top,
          #343045,
          #c0b7e8,
          #8176af,
          #343045
        );
      }
    }
  }

  &__info {
    text-align: center;
    width: 15rem;
    margin: 0 auto;

    @include screen(med-small) {
      text-align: start;
    }

    > span {
      font-size: 3rem;
      font-weight: 500;
      color: #f5409c;
    }
  }

  &__video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    text-align: center;
    padding: 2rem;
    height: 34rem;
    background: radial-gradient(
      circle,
      rgba(58, 52, 86, 1) 10%,
      rgba(33, 30, 46, 1) 100%
    );

    > iframe {
      height: 100%;
      width: 100%;
    }
  }

  &__btnvideo {
    width: 6.2rem;
  }
}
