<article class="fourth-content d-flex flex-column gap-4">
  <h2 class="text-center">Un producto universal</h2>
  <figure class="fourth-content__image">
    <img src="./assets/images/fourth-image.webp" alt="Image" />
  </figure>
  <p>
    Un <span class="txt-gra-primary">dispositivo IoT</span> diseñado para
    garantizar la correcta operación de tu negocio, permitiéndote comenzar a
    disfrutar de sus beneficios sin complicaciones. En combinación con nuestra
    <span class="txt-gra-primary">plataforma de monitoreo</span> te brinda la
    libertad de mantenerte al tanto de las operaciones desde cualquier lugar
  </p>
</article>
