<article class="fourth-content d-flex flex-column gap-4">
  <h2 class="text-center subtitle">Un producto universal</h2>
  <figure class="fourth-content__image">
    <img src="./assets/images/fourth-image.webp" alt="Image" />
  </figure>
  <p>
    Un <span>dispositivo IoT</span> diseñado para garantizar la correcta
    operación de tu negocio, permitiéndote comenzar a disfrutar de sus
    beneficios sin complicaciones. En combinación con nuestra
    <span>plataforma de monitoreo</span> te brinda la libertad de mantenerte al
    tanto de las operaciones desde cualquier lugar
  </p>
</article>
