<article class="first-primary">
  <figure class="first-primary__banner">
    <img src="./assets/images/banner.webp" alt="Banner" />
  </figure>
  <div class="d-flex flex-column gap-4">
    <h1 class="first-primary__title">
      <span class="txt-gra-primary">Impulsa</span> tu éxito
      <br />
      con <span class="txt-gra-primary">Actus ELENA</span>
    </h1>
    <p>
      Transforma tu empresa y lleva la eficiencia y sostenibilidad al siguiente
      nivel. Actus ELENA te dará información oportuna para que tomes las mejores
      decisiones y asegures la operación óptima de tu negocio.
    </p>
    <div class="first-primary__actions">
      <button type="button" class="btn btn-primary w-100">
        SOLICITA UN DEMO
      </button>
      <a href="">
        Iniciar sesión &nbsp;
        <i class="fa-solid fa-arrow-right"></i>
      </a>
    </div>
  </div>
</article>
