@use "../../../styles/mixins" as *;

.first-primary {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 7rem 0;

  @include screen(small) {
    justify-content: flex-end;
    flex-direction: row-reverse;

    > div {
      max-width: 490px;
    }
  }

  @include screen(med-small) {
    gap: 6rem;
  }

  &__title,
  &__title > span {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;

    @include screen(small) {
      font-size: 2.7rem;
      text-align: start;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;

    @include screen(small) {
      flex-direction: row;
      align-items: center;

      > button,
      > a {
        max-width: 214px;
      }
    }
  }
}
