<article id="form" class="card form">
  <div class="text-center mb-5">
    <h3 class="subtitle">¡Gracias por tu interés en Actus ELENA!</h3>
    <div class="col-5 m-auto">
      <hr class="hr-primary" />
    </div>
    <p>
      Completa el formulario para recibir asesoría personalizada y transformar
      tu empresa.
    </p>
  </div>
  <form class="row" [formGroup]="form">
    <div class="col-md-6 mb-4">
      <input
        type="text"
        class="form-control"
        placeholder="Nombre completo"
        aria-describedby="name"
      />
    </div>
    <div class="col-md-6 mb-4">
      <input
        type="text"
        class="form-control"
        placeholder="Número de Teléfono"
        aria-describedby="phone"
      />
    </div>
    <div class="col-md-6 mb-4">
      <input
        type="email"
        class="form-control"
        placeholder="Correo Electrónico"
        aria-describedby="email"
      />
    </div>
    <div class="col-md-6 mb-4">
      <div ngbDropdown container="body" dropdownClass="form-dropdown">
        <button
          type="button"
          class="form-select header__menu btn"
          ngbDropdownToggle
        >
          {{ form.controls["contact"].value || "Prefiero ser contactado por" }}
        </button>
        <div ngbDropdownMenu aria-labelledby="Menu">
          <button
            ngbDropdownItem
            (click)="onSelectItem('Correo Electrónico', 'contact')"
          >
            Correo Electrónico
          </button>
          <button
            ngbDropdownItem
            (click)="onSelectItem('Llamada Telefónica', 'contact')"
          >
            Llamada Telefónica
          </button>
          <button
            ngbDropdownItem
            (click)="onSelectItem('Mensaje de WhatsApp', 'contact')"
          >
            Mensaje de WhatsApp
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div ngbDropdown container="body" dropdownClass="form-dropdown">
        <button type="button" class="form-select btn" ngbDropdownToggle>
          {{
            form.controls["other"].value ||
              form.controls["company"].value ||
              "Sector de la Empresa"
          }}
        </button>
        <div ngbDropdownMenu aria-labelledby="Menu">
          <button
            ngbDropdownItem
            (click)="onSelectItem('Alimentos', 'company')"
          >
            Alimentos
          </button>
          <button
            ngbDropdownItem
            (click)="onSelectItem('Hotelería', 'company')"
          >
            Hotelería
          </button>
          <button
            ngbDropdownItem
            (click)="onSelectItem('Agrícolas', 'company')"
          >
            Agrícolas
          </button>
          <button
            ngbDropdownItem
            (click)="onSelectItem('Ganaderas', 'company')"
          >
            Ganaderas
          </button>
          <button
            ngbDropdownItem
            (click)="onSelectItem('Maquinaria', 'company')"
          >
            Maquinaria
          </button>
          <button
            ngbDropdownItem
            (click)="onSelectItem('Manufactura', 'company')"
          >
            Manufactura
          </button>
          <div class="px-3">
            <input
              type="text"
              class="form-control form__other"
              placeholder="Otro"
              aria-describedby="sector company"
              formControlName="other"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <input
        type="text"
        class="form-control"
        placeholder="Nombre de la Empresa"
        aria-describedby="name company"
      />
    </div>
    <div class="text-center mt-5">
      <button type="button" class="btn btn-primary">ENVIAR FORMULARIO</button>
    </div>
  </form>
</article>
