<article class="eighth-content">
  <figure class="eighth-content__banner">
    <img src="./assets/images/banner2.webp" alt="Banner" />
    <span class="eighth-content__text-banner subtitle">
      ¿Buscas <span class="subtitle">eficiencia</span> y
      <span class="subtitle">sostenibilidad</span> para tu empresa? <br />
      ¡Contáctenos!
    </span>
  </figure>
  <div class="card mt-5">
    <div class="eighth-content__info-content">
      <div class="eighth-content__info">
        <span>Envíenos un mensaje:</span>
        <br />
        <span>{{ "info@actus.io" }} </span>
      </div>
      <hr class="hr-primary" />
      <div class="eighth-content__info">
        <span>Llámenos:</span>
        <br />
        <span>+52 662 437 8939</span>
      </div>
      <hr class="hr-primary" />
      <div class="eighth-content__info">
        <span>Visítenos:</span>
        <br />
        <span
          >Blvd. Enrique Mazón López #609-J Café Combate. 83165,
          Hermosillo</span
        >
      </div>
    </div>
  </div>
</article>
